{% extends "obligarcy/base.html" %}

{% block content %}

<h2>Active Contracts</h2>
{% if contracts %}
    <ul>
    {% for contract in contracts %}
        <li><a href="/contract/{{ contract.id }}/">{{ contract.title[:50] }}...</a></li>
        Final Deadline: {{ contract.end_date.strftime('%y/%m/%d %A')}}<br>
        Next Deadline: {{ contract.deadline_set.filter(is_expired=False).first().deadline.strftime('%y/%m/%d %A')}}<br>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>Nothing To Report</p>
{% endif %}
{% endblock content %}
