<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Exchange of obligations">
    <meta name="author" content="Fenimore">
    <link rel="icon" href="../../favicon.ico">

    <title>Muse</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,400italic,700italic' rel='stylesheet' type='text/css'>
<style>

/* unvisited link */
a:link {
    color: #673ab7;
}

/* visited link */
a:visited {
    color: #7c4dff;
}

/* mouse over link */
a:hover {
    color: #9c27b0;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #673ab7;
}

.dropdown span{
  color: #536DFE;
}

.navbar-default{
  background-color:#F8F8FF;
  color: #E1BEE7;
}

#id_input {
  height: auto;
}
    .container {
      margin-right: 15px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul a {
        display: block;
        width:100%;
    }
    ul a:hover {
        text-decoration: none;
    }
    .navbar-right {
      margin-right: 24%;
    }

    #deadline_list{
        width: 100%;
        height: auto;
        max-height: 115px;
        overflow: auto;
    }

    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
      background-color: #FEFEFA;
      font-family: 'Raleway', sans-serif;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 50px;
    }
    .nav table {
      color: black;
    }

</style>


<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
    $(".nav li.disabled a").click(function() {
      return false;
    });
});
$('#myTab a').click(function (e) {
    if($(this).parent('li').hasClass('active')){
        $( $(this).attr('href') ).hide();
    }
    else {
        e.preventDefault();
        $(this).tab('show');
    }
});

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Muse</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/firehose">Firehose</a></li>
          </ul>
          {% if user.is_authenticated() %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/challenge"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Challenge</a></li>
                  <li><a href="/active/{{user.id}}"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li> Next Deadlines</li>
                    <table class="table table-hover">
                      <tr>
                        <td>
                          {% if user.contract_set.all() %}
                          <a href="/submit/{{ user.deadline_set.filter(is_expired=False).order_by('deadline').first().contract.id }}/{{ user.id }}">
                            {{ user.deadline_set.filter(is_expired=False, is_accomplished=False).order_by('deadline').first() }}</a>
                            {% endif %}
                        </td>
                      </tr>
                    </table>
                    <li role="separator" class="divider"></li>
                    <li>Follows</li>
                    <table class="table table-hover">
                      {% for u in user.userprofile.follows.all() %}
                        <tr>
                          <td>
                            <div class="media">
                              <div class="media-left">
                                <a href="/user/{{ u.user.id }}">
                                  <img src=/media/{{ u.picture['avatar']}}
                                  class="img-responsive img-circle" alt="Problem Serving Image">
                                </a>
                              </div>
                              <div class="media-body">
                                <h5 class="media-heading">{{ u.user.username}}</h5>
                                {{ u.bio }}
                              </div>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
           {% endif %}

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated() %}
                {{ user.username }}
                {% else %}
                Welcome!
                {% endif %}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated() %}
                  <li><a href="/profile/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }} Profile</a></li>
                  <li><a href="/active/{{ user.id }}"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Active Contracts</a></li>
                  <li class='disabled'><a href="#"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Legacy Contracts</a></li>
                  <li class='disabled'><a href="#"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Contacts</a></li>
                  <li><a href="/challenge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Challenge</a></li>
                  <li role="separator" class="divider"></li>
                  <li class='disabled'><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
                  <li><a href="/logout">Logout</a></li>
                  {% else %}
                  <li><a href="/register/">Register Here</a></li>
                  <li><a href="/login/">Login</a></li>
                  <li role="separator" class="divider"></li>
                  {% endif %}
                  <li class="dropdown-header disabled">Help</li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="row" style="padding-top:60px">

        <div class="col-sm-9 col-md-9 col-md-offset-3" style='margin-left:5px;margin-right:10px;'>
                {% block content %}{% endblock %}
        </div>
        <div>
          {% block side_block %}{% endblock %}
        </div>
      </div>
      <br>
      <br>
      <br>
    </div><!-- /.container -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted"> Muse | 2015-2016 | <a href='/'>About</a> <a href='/register'>Register</a> <a href=/login>Login</a> <a href=/logout>Logout</a></p>
      </div>
    </footer>
  </body>
</html>
