{% extends "obligarcy/base.html" %}

{% block content %}
        <form id="contract_form" method="POST" action="/challenge/">

            {% csrf_token %}

            {{ contract_form }}
                         <!-- Text: <textarea rows="4" cols="50" type="text" name="body" value="" size="500">
            </textarea>
            <input type='date' name='end_date'>
           Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Issue Challenge" />
        </form>



{% endblock content %}
