{% extends "obligarcy/base.html" %}
{% block content %}
<div class="alert alert-danger" role="alert">
  The forms for adding signees will be taken out. The authenticated user
  will be automatically first signee, and others must themselves visit the
  contract page and click sign within the signing window (current default
  one day).
</div>

        <form id="contract_form" method="POST" class='form-inline' action="/challenge/">
        {% csrf_token %}
    <div class='row'>
      <div class='col-md-6'>
    {{ contract_form.non_field_errors }}


    <div class="form-group">
        {{ contract_form.preamble.errors }}
        <label style='display:none'  for="{{ contract_form.preamble.id_for_label }}">Contract text:</label>
        {{ contract_form.preamble }}
    </div>
    <div class="form-group">
        {{ contract_form.conditions.errors }}
        <label style='display:none'  for="{{ contract_form.conditions.id_for_label }}">Contract text:</label>
        {{ contract_form.conditions }}
    </div>
    <div class="form-group">
        {{ contract_form.penalties.errors }}
        <label style='display:none'  for="{{ contract_form.penalties.id_for_label }}">Contract text:</label>
        {{ contract_form.penalties }}
    </div>



      </div><!-- Col-->
      <div class='col-md-3'>
      <label for="{{ contract_form.start_date.id_for_label }}">Contract starts:</label>
        <div class="input-group">
                  {{ contract_form.start_date.errors }}
                  {{ contract_form.start_date }}
          <span class="input-group-addon" >
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label for="{{ contract_form.end_date.id_for_label }}">Contract ends:</label>
        <div class="input-group">
            {{ contract_form.end_date.errors }}
            {{ contract_form.end_date }}
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>

        </div>
        <div class="fieldWrapper">
            {{ contract_form.frequency.errors }}
            <label for="{{ contract_form.frequency.id_for_label }}">Frequency:</label>
            {{ contract_form.frequency }}
        </div>
      </div> <!-- Col-->
    </div><!-- Row-->
    <hr>
    <div class='row'>
      <div class='col-md-6'>

        <input class='btn btn-default' type="submit" name="submit" value="Sign" />    
        <br><br>
      </div> <!-- Col-->
    </div>
        </form>



                         <!-- Text: <textarea rows="4" cols="50" type="text" name="body" value="" size="500">
            </textarea>
            {{ contract_form.as_p }}
            <input type='date' name='end_date'>
           Provide a button to click to submit the form. -->


<script>

$(document).ready(function() {
    document.getElementById("id_end_date").className += " form-control"
    document.getElementById("id_start_date").className += " form-control"
});
</script>

{% endblock content %}
