{% extends "obligarcy/base.html" %}

{% block content %}
<div class='row'>
  <div class='col-md-6'>
    <h4>{{ contract.preamble }}</h4><br>
    {{ contract.conditions }}<br>
    {{ contract.penalties }}<br><br>

    {% for signee in contract.users.all() %}
    Signee: <a href="/user/{{ signee.id }}/">{{signee.username}}</a><br>
    {% endfor %}

<br>Contract ends: {{ contract.end_date }}<br>
<hr>
<h4>Deadlines</h4>
<table class="table table-hover">
  <tr>
  {% for dl in deadlines %}
  <th> {{ dl.deadline }} </th>
  {% endfor %}
  </tr>
  {% for user in contract.users.all() %}
  <tr>
    {% for deadline in user.deadline_set.filter(contract=contract) %}
      <td> {{user.username}}, {{deadline.accomplished }}</td>
    {% endfor %}
  </tr>
  {% endfor %}

</table>
<h4>
Deadlines and Submission for users:{% for user in contract.users.all() %}
  {{ user.username }} {% endfor %}</h4>
    <table class="table table-hover">
      {% for deadline in contract.deadline_set.all() %}
    <tr>
      <td>{{deadline.deadline}}</td>
        {% for submission in deadline.submission.all() %}
        <td><a href='/user/{{ submission.user.id }}'>{{ submission.user}}</a>, <a href='/submission/{{ submission.id }}'>{{submission.pub_date}}</a></td>
        {% endfor %}
    </tr>
      {% endfor %}
    </table>


  </div>
  <div class='col-md-4'>
    <div class="panel panel-default">
      <div class="panel-body">
        <small>Frequency: {{ contract.frequency }}</small><br>
        <div id='deadline_list'>
        {% for deadline in contract.deadline_set.all() %}

        {{deadline.deadline}}<br>

        {% endfor %}<br>
        </div>

        {% if user.is_authenticated %}<br>
          {% if user in contract.users.all() %}<br>
            <a class='btn btn-default' href=/submit/{{ contract.id }}/{{user.id}}>Submit a text</a>
          {% else %}
            {% if allow_signing %}
              <a class='btn btn-info' href=/sign/{{ contract.id }}>Sign Contract</a>
            {% endif %}<br>
          {% endif %}<br>
        {% endif %}<br>

        <hr>

            <h4>Submissions</h4>
            {% if contract.submissions.all() %}
                <ul>
                {% for submission in contract.submissions.all() %}
                    <li><a href="/user/{{ submission.user.id }}/">{{ submission.user }}</a> <a href="/submission/{{ submission.id }}">@ {{ submission.pub_date }}</a></li>
                    <b>for</b> {{ submission.deadline_set.all().first() }}
                    <hr>
                {% endfor %}
                </ul>
            {% else %}
                <p>This Contract has no submissions</p>
            {% endif %}

    </div>


  </div>
</div>
<br><br>
        {% endblock content %}
