{% extends "obligarcy/base.html" %}

{% block content %}

{{ contract.body }}
<br><br>
Deadline: {{ contract.end_date }}<br>
Frequency: {{ contract.frequency }}<br>
Deadline List: {{ contract.deadline_list }}
{% for signee in signees %}

Signee: <a href="/user/{{ signee.id }}/">{{signee.username}}</a><br>

{% endfor %}
{% if user.is_authenticated %}<br>
<a class='btn btn-default' href=/submit/{{ contract.id }}>Submit</a>
{% endif %}

<hr>

    <h3>Submissions</h3>
    {% if submissions %}
        <ul>
        {% for submission in submissions %}
            <li><a href="/submission/{{ submission.id }}">{{ submission.body }}</a></li>
            {{ submission.user }} @ {{ submission.pub_date}}
        {% endfor %}
        </ul>
    {% else %}
        <p>This Contract has no submissions</p>
    {% endif %}
{% endblock content %}