{% extends "obligarcy/base.html" %}

{% block content %}

<h2>Contracts</h2>
{% if contracts %}
    <ul>
    {% for contract in contracts %}
        <li><a href="/contract/{{ contract.id }}/">{{ contract.title }}</a></li>
        Final Deadline: {{ contract.end_date.strftime('%y/%m/%d %A')}}
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No contracts</p>
{% endif %}


<h2>Users</h2>
{% if users %}
    <ul>
    {% for user in users %}
        <li><a href="/user/{{ user.id }}/">{{ user.username }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Users</p>
{% endif %}

<h2>Submissions</h2>
{% if submissions %}
    <ul>
    {% for submission in submissions %}
        <li>{{ submission.body[:79] }}<a href="/submission/{{ submission.id }}/">.. read more</a></li>

<br>
    {% endfor %}
    </ul>
{% else %}
    <p>No Submissions</p>
{% endif %}
{% endblock content %}
