{% extends "obligarcy/base.html" %}

{% block content %}

<h2>Contracts</h2>
{% if contracts %}
    <ul>
    {% for contract in contracts %}
        <li><a href="/contract/{{ contract.id }}/">{{ contract.title }}</a></li>
        Final Deadline: {{ contract.end_date.strftime('%y/%m/%d %A')}}
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No contracts</p>
{% endif %}


<h2>Users</h2>
{% if users %}
    <ul>
    {% for profile in users %}
      {% if profile.userprofile.picture %}
          <div class="media">
            <div class="media-left">
              <a href="/user/{{ profile.id }}/">
              <img class="media-object img-circle" src="/media/{{ profile.userprofile.picture['avatar']}}" alt="Problem serving picture"/>
            </a>
          </div>
          <div class="media-body">
            <h5 class="media-heading">{{ profile.username }}</h5>
            ...
          </div>
        </div>
      {% else %}
      <a href="/user/{{ profile.id }}/">{{ profile.username }}</a>
      {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No Users</p>
{% endif %}

<h2>Submissions</h2>
{% if submissions %}
    <ul>
    {% for submission in submissions %}
        <li>{{ submission.body[:79] }}<a href="/submission/{{ submission.id }}/">.. read more</a></li>

<br>
    {% endfor %}
    </ul>
{% else %}
    <p>No Submissions</p>
{% endif %}
{% endblock content %}
