{% extends "obligarcy/base.html" %}

{% block content %}
<div class='row'>
  <div class='col-md-3'><br>
    <h3>Muse</h3>
    <h4>obligation-exchange</h4>
    {% if user.is_authenticated %}
    <br>
  </div>
  <div class='col-md-3'><br>
    <img alt="Image not working" src='{{ static('favicon.png') }}' height="100px" alt="">
  </div>
</div>
<div class='row'>
  <div class='col-md-6'><br>
    <h4>First Time Here?</h4>
    <p>
      Oblige your productivity. Agree to certain conditions of creative production,
       under a contract either alone or with others. To see what's already floating
        about, visit the 'firehose'<br><br>
       <a href="/challenge" class='btn btn-success'>Draft a Contract</a>  <a href="/firehose" class='btn btn-danger'>Firehose</a><br><br>
       <a href="#about" class='btn btn-info'>Questions?</a>
    </p>
    <hr>
    <p>
      <h4>New Rules!</h4>
      (1) In order to sign a contract, one must first be followed
       by a signee of that contract. One must also sign during the first
       day of the contract, or before. (2) One can submit one submission
       for every deadline (calculated by the start/end dates and frequency).
       If one submits after the deadline in question, it is marked as 'late',
       and thereafter, the signee cannot 'complete' a contract.
    </p>
  </div>
  <div class='col-md-6'>
    {% if activity_feed %}
    <table class="table table-hover">
      <tr>
      <td>Activity Feed</td></tr>
        {% for activity in activity_feed[:10] %}
          <tr>
            <td>
              <a href="/user/{{ activity.actor.id }}/">{{ activity.actor.username }}</a>
              {{ activity.verb }}
              {% if activity.target %}
                {%  if activity.verb == 'followed'  %}
                  <a href="/user/{{ activity.target.id }}/">{{ activity.target.username }}</a>
                {% elif activity.verb == 'signed contract' %}
                  <a href="/contract/{{ activity.target.id }}/">{{ activity.target.title }}</a>
                {% elif activity.verb == 'drafted new contract' %}
                  <a href="/contract/{{ activity.target.id }}/">{{ activity.target.title }}</a>
                {% elif activity.verb == 'submitted a text' %}
                  <a href="/submission/{{ activity.target.id }}/">{{ activity.target.body }}</a>
                {% elif activity.verb == 'submitted media' %}
                    <a href="/submission/{{ activity.target.id }}/">Image</a>
                {% else  %}
                  {{ activity.target }}
                {% endif  %}
              {% endif %}
            </td>
          </tr>
         {% endfor %}
    </table>
    {% else %}
        <p>No Activities to Report</p>
    {% endif %}
  </div>
</div>
<a id='about' href=#about></a>
<div class='row'>
  <div class='col-md-10'>
    <h2>About/todo</h2>
    <h3>tl;dr</h3>
    Either alone or with peers, agree to a quota of creative production, and agree to the consequences of failing.
    <h4>Contracts</h4>
    <ul class='list-group'>
      <li class='list-group-item'>One is able to sign an existing contract only if they are followed by one of the signees.
      </li>
      <li class='list-group-item'>One is able to sign a contract only before it begins, or during the contracts first day.
      </li>
      <li class='list-group-item list-group-item-warning'>TODO: Allow open signatures</li>
      <li class='list-group-item list-group-item-warning'>TODO: add markup</li>
    </ul>
    <h4>Deadlines</h4>
    <ul>
      <li class='list-group-item'>Submissions submitted after the deadline has expired are labeled as late</li>
      <li class='list-group-item'>Contracts with late submissions will not be counted as 'complete' (this should change?)</li>
      </li>
      <li class='list-group-item list-group-item-warning'>TODO: Add the action of Missing a Deadline</li>
    </ul>
    <h4>Submissions</h4>
    <ul>
      <li class='list-group-item'>Submissions can be either Text or Media (image), each deadline will take one of each,
      (that is, one cannot submitt multiple pictures for one deadline, TODO: add a zip upload?)</li>
    </ul>
    <h4>Following</h4>

  </div>
</div>
{% endif %}
{% endblock content %}
