{% extends "obligarcy/base.html" %}

{% block content %}
<div class='row'>
  <div class='col-md-3'><br>
    <h3>Muse</h3>
    <h4>obligation-exchange</h4>
    {% if user.is_authenticated %}
    <br>
  </div>
  <div class='col-md-3'><br>
    <img alt="Image not working" src='{{ static('favicon.png') }}' height="100px" alt="">
  </div>
</div>
<div class='row'>
  <div class='col-md-6'><br>
    <p>
      New Rules! (1) In order to sign a contract, one must first be followed
       by a signee of that contract. One must also sign during the first
       day of the contract, or before. (2) One can submit one submission
       for every deadline (calculated by the start/end dates and frequency).
       If one submits after the deadline in question, it is marked as 'late',
       and thereafter, the signee cannot 'complete' a contract.
    </p>
  </div>
</div>
{% endif %}
{% endblock content %}
