{% extends "obligarcy/base.html" %}

{% block content %}

<h3>Ipsum Lorem</h3>
{% if user.is_authenticated %}

<h4>Welcome, {{ user.username }}</h4>


<div class='row'>
  <div class='col-md-8'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec congue ligula, ut feugiat purus. Vestibulum sollicitudin cursus leo et ultricies. Integer facilisis non eros sed mollis. Aenean tortor urna, sagittis a auctor nec, volutpat accumsan ligula. Nullam pulvinar, libero et commodo tristique, tellus mauris vulputate augue, quis semper ligula lorem nec elit. Sed nec neque dictum, faucibus libero eu, commodo mauris. Nulla iaculis, dolor vitae auctor pharetra, purus ipsum fringilla mauris, vitae pellentesque dui augue vitae risus. In ac nisl porttitor tortor rhoncus luctus sed in turpis. Donec blandit nibh orci, et gravida tellus mattis non. Aenean dapibus velit ex, sed vestibulum leo commodo id. Vivamus porttitor, velit id varius venenatis, enim justo maximus odio, a euismod orci enim id mauris. Nulla ut purus eget felis sodales iaculis at non nibh. </p>

    <p>
      <h3>TODO:</h3>
    <ul>
      <li>Color palette</li>
      <li>Font</li>
      <li>Logo/banner</li>
      <li>Forum</li>
      <li>Email</li>
      <li>Picture submit/upload</li>
      <li>Contract Genre</li>
      <li>Punishment status</li>
    </ul>
    </p>
  </div>
</div>
{% endif %}
{% endblock content %}
