{% extends "obligarcy/base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class='row' style='margin-top:3%'>
  <div class=col-md-6>
    <div class="media">
      <div class="media-left">
        <a href="/user/{{ profile.id }}">
          {% if profile.userprofile.picture %}

          <img class="media-object img-rounded profilethumb"
               src="/media/{{ profile.userprofile.picture['profile']}}"  alt="Problem serving picture"/>
          {% endif %}
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ profile.username }}</h4>
        {{ profile.userprofile.bio}}<br>
        Joined {{ profile.date_joined.strftime('%D') }}<br>
        <span class="glyphicon glyphicon-apple" aria-hidden="true" title="Completed Contracts"></span> {{ profile.has_completed.all()|length }}
        <span class="glyphicon glyphicon-ok" aria-hidden="true" title="Completed Deadlines"></span> {{ profile.deadline_set.filter(is_accomplished=True, is_late=False)|length }}
        <span class="glyphicon glyphicon-inbox" aria-hidden="true" title="Upcoming Deadlines"></span> {{ profile.deadline_set.filter(is_expired=False, is_accomplished=False)|length }}
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true" title="Location"></span> {{ profile.userprofile.location }}<br>


        <hr>

        {% if can_follow %}
        <a href="#" class='btn btn-success follow' data-id="{{ profile.id }}"
        data-action="{% if already_follows %}un{% endif %}follow">
          {% if already_follows %}
          Unfollow
          {% else %}
           Follow
          {% endif %}
        </a>
        {% else %}
          <a class='btn btn-default' href=/profile/update >Update Profile</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class='col-md-4 stream-box'>
    {% if stream %}
    <table class="table table-hover panel panel-default">
      <tr>
      <td>{{ activity_label }}</td></tr>
        {% for activity in stream[:10] %}
          <tr>
            <td>
              {% if activity.actor.userprofile.picture %}
              <a href="/user/{{ activity.actor.id }}/">
                <img class="media-object img-circle" src="/media/{{ activity.actor.userprofile.picture['feed']}}" style="float:left;margin-right:5px;" alt="Problem serving picture"/>
              </a>
              {% endif %}
              <a href="/user/{{ activity.actor.id }}/">{{ activity.actor.username }}</a>

              {{ activity.verb }}
              {% if activity.target %}
                {%  if activity.verb == 'followed'  %}
                  <a href="/user/{{ activity.target.id }}/">{{ activity.target.username }}</a>
                  <span class="glyphicon glyphicon-user" style="float:right" aria-hidden="true" ></span>
                {% elif activity.verb == 'signed contract' %}
                  <a href="/contract/{{ activity.target.id }}/">{{ activity.target.title }}</a>
                {% elif activity.verb == 'drafted new contract' %}
                   <a href="/contract/{{ activity.target.id }}/">{{ activity.target.title }}</a>
                   <span class="glyphicon glyphicon-certificate" style="float:right;color:gold" aria-hidden="true" ></span>
                {% elif activity.verb == 'submitted a text' %}
                  <a href="/submission/{{ activity.target.id }}/">{{ activity.target.body }}</a>
                  <span class="glyphicon glyphicon-check"  style="float:right;color:green" aria-hidden="true" s></span>
                {% elif activity.verb == 'submitted media' %}
                    <a href="/submission/{{ activity.target.id }}/">Image</a>
                    <span class="glyphicon glyphicon-check"  style="float:right;color:green" aria-hidden="true" ></span>
                {% else  %}
                  {{ activity.target }}
                {% endif  %}
              {% endif %}<br>
              <small>{{ time_since(activity.pub_date) }}</small>
            </td>
          </tr>
         {% endfor %}
    </table>
    {% else %}
        <p>No Activities to Report</p>
    {% endif %}
  </div>
</div>
<hr>
<div class='row'>
  <div class="bs-docs-example">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Contracts</a></li>
      <li><a href="#profile" data-toggle="tab">Network</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Deadlines <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#dropdown1" data-toggle="tab">Submissions</a></li>
          <li><a href="#dropdown2" data-toggle="tab">Upcoming Deadlines</a></li>
        </ul>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <div class="col-md-6" style="margin-top:2%">
          <div class="panel panel-default">
            <div class="panel-heading">Active Contracts</div>
            {% if active %}
            <table class="table table-hover">
                {% for contract in active %}
                  <tr>
                    <td>
                      <a href="/contract/{{ contract.id }}/">{{ contract.title[:25] }}...</a>
                    </td>
                    <td>Ends:
                      {{contract.end_date.strftime('%D - %A')}}
                    </td>
                  </tr>
                 {% endfor %}
            </table>
            {% else %}
                <p>No (active) contracts</p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6" style="margin-top:2%">
          <div class="panel panel-default">
            <div class="panel-heading">Completed Contracts</div>
            {% if completed %}
              <table class="table  table-hover">
                {% for contract in completed %}
                    <tr>
                      <td><a href="/contract/{{ contract.id }}/">{{ contract.title[:25] + '..' }}</a></td>
                      <td>
                       {{ contract.end_date.date().strftime('%D - %A')}}
                      </td>
                    </tr>
                {% endfor %}
              </table>
            {% else %}
                <p>This User has no Completed Contracts</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile">
        <div class="col-md-6" style="margin-top:2%">
          <div class="panel panel-default">
            <div class="panel-heading">Followed By</div>
            {% if followed_by %}
            <table class="table table-hover">
                {% for f in followed_by %}
                  <tr>
                    <td>
                      {% if f.picture %}
                        <div class="media">
                          <div class="media-left">
                            <a href="/user/{{ f.user.id }}/">
                              <img class="media-object img-circle" src="/media/{{ f.picture['avatar']}}" alt="Problem serving picture"/>
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">{{ f.user.username }}</h4>
                            {{ f.bio }}
                          </div>
                        </div>
                      {% else %}
                      <a href="/user/{{ f.user.id }}/">{{ f.user.username }}</a>
                      {% endif %}
                    </td>
                  </tr>
                 {% endfor %}
            </table>
            {% else %}
                <p>No one is following {{ profile.username }}</p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6" style="margin-top:2%">
          <div class="panel panel-default">
            <div class="panel-heading">Following</div>
            {% if follows %}
            <table class="table table-hover">
                {% for f in follows %}
                <tr>
                  <td>
                    {% if f.picture %}
                      <div class="media">
                        <div class="media-left">
                          <a href="/user/{{ f.user.id }}/">
                            <img class="media-object img-circle" src="/media/{{ f.picture['avatar']}}" alt="Problem serving picture"/>
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">{{ f.user.username }}</h4>
                          {{ f.bio }}
                        </div>
                      </div>
                    {% else %}
                    <a href="/user/{{ f.user.id }}/">{{ f.user.username }}</a>
                    {% endif %}
                  </td>
                </tr>
                 {% endfor %}
            </table>
            {% else %}
                <p>No one is following {{ profile.username }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="dropdown1">
        <div class='col-md-10' style='margin-top:2%'>
          <div class="panel panel-default">
            <div class="panel-heading">Submissions</div>
            {% if posts %}
            <table class="table table-hover">
                {% for post in posts %}
                  <tr>
                    {% if post.is_media %}
                      <td>
                        <div class="media">
                          <div class="media-left">
                            <a href="/submission/{{ post.id }}/">
                              <img src=/media/{{ post.media['avatar']}}
                              class="img-responsive img-rounded" alt="Problem Serving Image">
                            </a>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">@{{ post.pub_date.date().strftime('%D - %A')}}</h6>
                            For {{ post.deadline_set.all().first()}}
                          </div>
                        </div>
                      </td>
                    {% else %}
                      <td>
                        <h6 class="media-heading">@{{ post.pub_date.date().strftime('%D - %A')}}</h6>
                        For {{ post.deadline_set.all().first()}} <a href="/submission/{{ post.id }}/">{{ post.body[:30] + '..' }}</a>
                      </td>
                    {% endif %}
                  </tr>
                 {% endfor %}
            </table>
            {% else %}
                <p>No Submissions</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="dropdown2">
        <div class='col-md-10' style='margin-top:2%'>
          <div class="panel panel-default">
            <div class="panel-heading">Upcoming Deadlines</div>
            {% if deadlines %}
              <table class="table table-hover">
                  {% for deadline in deadlines[:4] %}
                    <tr>
                      <td>
                        <a href="/contract/{{ deadline.contract.id }}/">{{ deadline.contract.title[:25] }}...</a>
                      </td>
                      <td>
                        {{ deadline.deadline.strftime('%D - %A') }}
                      </td>
                      {% if not can_follow %}
                      <td>
                        <a class='btn btn-default' href="/submit/{{ deadline.contract.id }}/{{profile.id}}/">Submit</a>
                      </td>
                      {% endif %}
                    </tr>
                   {% endfor %}
                   <tr><td>Load All</td><td></tr>
              </table>
            {% else %}
                <p>No (active) deadlines</p>
            {% endif %}
          {% else %}
              <p>You are Not Authenticated!</p>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});

$(document).ready(function() {
    $('a.follow').click(function(e){
      var csrftoken = getCookie('csrftoken');
      e.preventDefault();
      $.post('{{ url('follow') }}',
        {
          id: $(this).data('id'),
          action: $(this).data('action')
        },
        function(data){
          if (data['status'] == 'ok') {
            var previous_action = $('a.follow').data('action');
            // toggle data-action
            $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
            // toggle link text
            $('a.follow').text(
              previous_action == 'follow' ? 'Unfollow' : 'Follow');
              }
            }
          );
        });
});
$('#myTab a').click(function (e) {
    if($(this).parent('li').hasClass('active')){
        $( $(this).attr('href') ).hide();
    }
    else {
        e.preventDefault();
        $(this).tab('show');
    }
});

</script>

{% endblock content %}
