{% extends "obligarcy/base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class='row'>
  <div class=col-md-6>
    <div class="media">
      <div class="media-left">
        <a href="/profile/">
          {% if profile.userprofile.picture %}

          <img class="media-object img-rounded profilethumb"
               src="/media/{{ profile.userprofile.picture['profile']}}"  alt="Problem serving picture"/>
          {% endif %}
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ profile.username }}</h4>
        {{ profile.userprofile.bio}}<br>
        Joined {{ profile.date_joined.strftime('%D') }}<br>
      </div>
    </div>
  </div>
  <div class=col-md-4>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true" title="Location"></span> {{ profile.userprofile.location }}<br><br>
    <span class="glyphicon glyphicon-apple" aria-hidden="true" title="Completed Contracts"></span> {{ profile.has_completed.all()|length }}<br>
    <span class="glyphicon glyphicon-ok" aria-hidden="true" title="Completed Deadlines"></span> {{ profile.deadline_set.filter(is_accomplished=True, is_late=False)|length }}<br>
    <span class="glyphicon glyphicon-inbox" aria-hidden="true" title="Upcoming Deadlines"></span> {{ profile.deadline_set.filter(is_expired=False, is_accomplished=False)|length }}<br>


    <hr>
    {% if can_follow %}
      {% if already_follows %}
      <a class='btn btn-default' href=/unfollow/{{ request.session.id }}/{{profile.id}}>Unsubscribe</a>
      {% else %}
      <a class='btn btn-info' href=/follow/{{ request.session.id }}/{{profile.id}}>Follow</a>
      {% endif %}
    {% else %}
      <a class='btn btn-default' href=/profile/update >Update Profile</a>
    {% endif %}
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-4'>
    {% if completed %}
      <table class="table  table-hover">
        <tr><th>Completed Contracts</th></tr>
        {% for contract in completed %}
            <tr>
              <td><a href="/contract/{{ contract.id }}/">{{ contract.title[:30] + '..' }}</a><br>
              @ {{ contract.end_date.date().strftime('%D - %A')}}</td>
            </tr>
        {% endfor %}
      </table>
    {% else %}
        <p>This User has no Completed Contracts</p>
    {% endif %}
  </div>
  <div class='col-md-4'>
    {% if follows %}
    <table class="table table-hover">
      <tr><th>Follows</th></tr>
        {% for f in follows %}
        <tr>
          <td>
            {% if f.picture %}
              <div class="media">
                <div class="media-left">
                  <a href="/user/{{ f.user.id }}/">
                    <img class="media-object img-circle" src="/media/{{ f.picture['avatar']}}" alt="Problem serving picture"/>
                  </a>
                </div>
                <div class="media-body">
                  <h5 class="media-heading">{{ f.user.username }}</h5>
                  ...
                </div>
              </div>
            {% else %}
            <a href="/user/{{ f.user.id }}/">{{ f.user.username }}</a>
            {% endif %}
          </td>
        </tr>
         {% endfor %}
    </table>
    {% else %}
        <p>No one is following {{ profile.username }}</p>
    {% endif %}
  </div>
  <div class='col-md-4'>
    {% if followed_by %}
    <table class="table table-hover">
      <tr><th>Followed By</th></tr>
        {% for f in followed_by %}
          <tr>
            <td>
              {% if f.picture %}
                <div class="media">
                  <div class="media-left">
                    <a href="/user/{{ f.user.id }}/">
                      <img class="media-object img-circle" src="/media/{{ f.picture['avatar']}}" alt="Problem serving picture"/>
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading">{{ f.user.username }}</h5>
                    ...
                  </div>
                </div>
              {% else %}
              <a href="/user/{{ f.user.id }}/">{{ f.user.username }}</a>
              {% endif %}
            </td>
          </tr>
         {% endfor %}
    </table>
    {% else %}
        <p>No one is following {{ profile.username }}</p>
    {% endif %}
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    {% if posts %}
    <table class="table table-hover">
      <tr><th>Submissions</th></tr>
        {% for post in posts %}
          <tr>
            <td>
              <a href="/submission/{{ post.id }}/">
              {% if post.is_media %}
              <div class="media">
                <div class="media-left">
                    <img src=/media/{{ post.media['avatar']}}
                    class="img-responsive img-rounded" alt="Problem Serving Image">
                </div>
                <div class="media-body">
                  <h6 class="media-heading">@{{ post.pub_date.date().strftime('%D - %A')}}</h6>
                  For {{ post.deadline_set.all().first()}}
                </div>
              </div>
              {% else %}
              {{ post.body[:30] + '..' }}<br>
              @ {{ post.pub_date.date().strftime('%D - %A')}} <br>
              For deadline: {{ post.deadline_set.all().first()}}
              {% endif %}</a>
            </td>
          </tr>
         {% endfor %}
    </table>
    {% else %}
        <p>No Submissions</p>
    {% endif %}
  </div>
  <div class='col-md-4'>
    {% if contracts %}
    <table class="table table-hover">
      <tr><th>Contracts</th><td>end dates</td></tr>
        {% for contract in contracts %}
          <tr>
            <td>
              <a href="/contract/{{ contract.id }}/">{{ contract.title[:15] }}...</a>
            </td>
            <td>
              {{contract.end_date.strftime('%D')}}
            </td>
          </tr>
         {% endfor %}
    </table>
    {% else %}
        <p>No (active) contracts</p>
    {% endif %}
  </div>
  <div class='col-md-4'>
    {% if deadlines %}
    <table class="table table-hover">
      <tr><th>Upcoming</th><th>Deadlines</th></tr>
        {% for deadline in deadlines[:4] %}
          <tr>
            <td>
              {{ deadline.deadline.strftime('%D') }}
            </td>
            <td>
              <a href="/contract/{{ deadline.contract.id }}/">{{ deadline.contract.title[:20] }}...</a>
            </td>
          </tr>
         {% endfor %}
         <tr><td>Load All</td><td></tr>
    </table>
    {% else %}
        <p>No (active) deadlines</p>
    {% endif %}
    {% else %}
        <p>You are Not Authenticated!</p>
    {% endif %}
  </div>
</div>



{% endblock content %}
