{% extends "obligarcy/base.html" %}

{% block content %}
{% load staticfiles %}
{% if user.is_authenticated %}
<div class='row'>
  <div>
    <div class="media">
      <div class="media-left">
        <a href="/profile/">
                  {% if user.userprofile.picture %}

          <img class="media-object"
               src="{{ user.userprofile.picture.path }}" alt="Problem serving picture"/>
          {% endif %}
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ user.username }}</h4>
        {{ user.userprofile.bio}}<br>
        {{user.userprofile.location}}
      </div>
    </div>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-5'>

    <h3>Submissions</h3>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="/submission/{{ post.id }}/">{{ post.body }}</a></li>
            {{ post.contract }} @ {{ post.pub_date}}
        {% endfor %}
        </ul>
    {% else %}
        <p>This User has no submissions</p>
    {% endif %}
  </div>
  <div class='col-md-5'>
    <h3>Contracts</h3>
    {% if contracts %}
        <ul>
        {% for contract in contracts %}
            <li><a href="/contract/{{ contract.id }}/">{{ contract.preamble }}</a></li>
            Deadline: {{ contract.end_date}}
        {% endfor %}
        </ul>
    {% else %}
        <p>This User has no (active) contracts</p>
    {% endif %}


    {% else %}
    <h1>hello world!</h1>
    {% endif %}
  </div>
</div>



{% endblock content %}
