{% extends "obligarcy/base.html" %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class=row><div class='col-md-6'>
<form action="/submit/{{ contract_id }}/" method="post">
{% csrf_token %}
Text
{{ form.body}}
<br>
Submit for deadline:
{{ form.deadline }}

<input type="submit" value="submit" class='btn btn-default'/>
</form>
</div></div>

<script>
$(document).ready(function() {
    document.getElementById("id_deadline").className += " form-control"
});
</script>

{% endblock content %}
<!--

<form action="/submit/{{ contract_id }}/" method="post">
    {% csrf_token %}

    <input type="submit" class='btn btn-default' value="Submit" />
</form>




    <div class="form-group">
      <label for="comment">Submission:</label>
      <textarea class="form-control" rows="18" id="body"></textarea>
    </div>

     <div class="form-group">
      <label for="deadline">Submit for deadline:</label>
      <select class="form-control" id="deadline">
        {% for deadline in deadlines %}
        <option value={{deadline.id}}>{{deadline.deadline}}</option>
        {% endfor %}
      </select>
    </div>

      <select class="form-control" id="id_deadline">
        {% for deadline in deadlines %}
        <option value={{deadline.id}}>{{deadline.deadline}} -- {{deadline.contract}}</option>
        {% endfor %}
      </select>
-->