{% extends "obligarcy/base.html" %}

{% block content %}
<div class='row'>
  {% if submission.is_media %}
  <div class='col-md-9' style="margin-top:4%">
    <img src=/media/{{ submission.media}} class="img-responsive" alt="Responsive image"><br><br>
  {% else %}
  <div class='col-md-6' style="margin-top:4%">

    {{ submission.body }}<br><br>
  {% endif %}
    <hr>
    <p><a href="/user/{{ submission.user.id }}/">{{ submission.user.username }}</a> | {{ submission.pub_date.strftime('%c')}}</p>
  </div>
  {% if submission.is_media %}
  <div class='col-md-3'  style="margin-top:4%">
  {% else %}
  <div class='col-md-3 col-md-offset-3'  style="margin-top:4%">
  {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <a href='/contract/{{contract.id}}' >Contract:</a> {{ contract.conditions[50:] }}...<br><br>
       <small>Submitted for</small> {{ deadline.deadline.date().strftime('%D') }} <small>deadline on</small> {{ submission.pub_date.date().strftime('%D') }}<br><br>
        <small>Author:</small> <a href="/user/{{ submission.user.id }}/">{{ submission.user.username }}</a> <br>
        {% if deadline.is_late %}
        <small>Is late: {{ deadline.is_late }}<br></small>
        {% endif %}
        {% if word_count %}
                <small>Word Count: {{ word_count }}</small> <br>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
