{% extends "obligarcy/base.html" %}

{% block content %}
<div class='row'>
  <div class='col-md-6' style="margin-top:4%">
    {% if submission.is_media %}
    <img src=/media/{{ submission.media}} class="img-responsive" alt="Responsive image">
    {% else %}
    {{ submission.body }}<br><br>
    {% endif %}


  </div>
  <div class='col-md-4  col-md-offset-2'>
    <div class="panel panel-default">
      <div class="panel-body">
        <a href='/contract/{{contract.id}}' >Contract:</a> {{ contract.conditions[50:] }}...<br><br>
        Submitted for {{ deadline.deadline.date() }} deadline on {{ submission.pub_date.date() }}<br><br>
        Word Count: {{ word_count }} <br>
        Author: <a href="/user/{{ submission.user.id }}/">{{ submission.user.username }}</a> <br>
        Is late: {{ deadline.is_late }}<br>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
