{% extends "obligarcy/base.html" %}

{% block content %}
<div class='row'>
  <div class='col-md-6'>
    {{ submission.body }}<br><br>
  </div>
  <div class='col-md-3'>
    <div class="panel panel-default">
      <div class="panel-body">
        <a href='/contract/{{contract.id}}' >Conditions of production:</a> {{ contract.conditions }}<br><br>
        Submitted for {{ deadline.deadline.date() }} deadline.<br><br>
        Word Count: {{ word_count }} <br>
        Author: <a href="/user/{{ submission.user.id }}/">{{ submission.user.username }}</a> <br>
        Submission Date : {{ submission.pub_date.date() }}<br>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
